* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #121212;
    color: #e0e0e0;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    background: #1e1e1e;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    padding: 10px 0;
}

nav h1.logo {
    font-size: 1.5em;
    color: #bb86fc;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #e0e0e0;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #bb86fc;
}

.hero h2 {
    font-size: 2.5em;
}

.hero p {
    font-size: 1.2em;
    color: #757575;
}

button {
    padding: 10px 20px;
    background-color: #bb86fc;
    color: #1e1e1e;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #985fe3;
}

section {
    padding: 40px 20px;
    text-align: center;
}

section h2 {
    font-size: 2em;
    color: #bb86fc;
    margin-bottom: 20px;
}

.project-cards {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.card {
    background: #1e1e1e;
    padding: 20px;
    border-radius: 8px;
    width: 250px;
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

.skills {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}

.skill {
    background-color: #292929;
    padding: 10px 15px;
    border-radius: 5px;
}

#contact form input,
#contact form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background: #292929;
    border: none;
    color: #e0e0e0;
}

footer {
    padding: 20px;
    background: #1e1e1e;
    color: #757575;
    text-align: center;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    align-items: center;
    justify-content: center;
}

.modal-content {
    background-color: #292929;
    padding: 20px;
    border-radius: 5px;
    width: 80%;
    max-width: 500px;
    text-align: center;
}

.close {
    color: #bb86fc;
    font-size: 24px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
}

